{% extends 'index.html' %}
{% block content %}

<div class="container-fluid"> 
    <h1>Capture:/h1>
    <div class="col-md-auto">
        <img src="https://i.ibb.co/FzjrTBP/pokdsaf.jpg" alt="pokdsaf" border="0">
    </div>
    <div class="row">
        <div class="col">
            <a href='/one_pull'><input type='button' id='one_pull' value='1x ₽'></a>
        </div>
        <div class="col">
            <a href='/multi_pull'><input type='button' id='multi_pull' value='10x ₽'></a>
        </div>
        <div class="col">
            <a href='/landing'><input type='button' value='Main'></a>
        </div>
        <div class="col">
            <a href='/details'><input type='button' value='Details'></a>
        </div>
      </div>



</div>
{% endblock %}